.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.book-form {
  display: grid;
  justify-content: center;
}

.book-preview {
  display: flex;
  flex-direction: column;
}
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 600px;
  width: 80%;
}

#input {
  background-color: lightpink
}
#preview {
  background-color: lightblue
}
#list-display {
  background-color: lightyellow
}
#filter-and-delete {
  background-color: lightcyan
}